.messenger__chatList{
    border-right: 1px solid;
    overflow: scroll;
    max-height: 300px;
}
.chatListUser{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid;
    cursor: pointer;
   
}