.messenger{
    border: 1px solid;
    display: flex;
    &__chatList{
        border-right: 1px solid;
        width: 25%;
    }
    &__chatWindow{
        width: 75%;
    }
}

@media (min-width:1000px) {
    .messenger{
        &__chatList{
            width: 200px

        }
        &__chatWindow{
            width: calc(100% - 200px)
        }
    }
}