.chatWindow__message{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    &.reply {
        justify-content: flex-end;
    }
    .content{
        max-width: 300px;
        min-width: 100px;
        border:1px solid rgba(0,0,0,0.3);
        border-radius:5px;
        padding: 5px;
        background: rgba(0,0,0,0.1);
    }    
}